.profile-wrapper {
  width: 100%;
  padding: 0 1rem;
}

.profile-wrapper h1, h2 {
  margin-bottom: 2rem;
}

.review-list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.review-item {
  display: flex;
  flex-direction: column;
  width: 100%;  
  gap:0.5rem;       
}

.review-book-thumbnail {
  width: 60px;
  height: auto;
}

.review-row {
  width: 100%;
  display: flex;
  flex-direction: column; 
  gap: 0.5rem;
}

.review-content {
  flex: 1;
  min-width: 0;
}

.review-meta {
  font-size: 0.9rem;
  color: #555;
}

.review-text {
  margin: 0.4rem 0;
}

.review-date {
  font-size: 0.8rem;
  color: #888;
}

.review-actions {
  display: flex;
  gap: 0.8rem;
}

.edit-btn,
.delete-btn {
  background: none;
  border: none;
  padding: 0;
  font-size: 0.9rem;
  cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover {
  text-decoration: underline;
  background: none;
}

.edit-btn {
  color: #374151;
}

.delete-btn {
  color: #dc2626;
}

.review-edit label {
  display: block;
  margin-top: 1rem;
}

.review-edit textarea,
.review-edit select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d1d5db;
  background: transparent;
  padding: 0.3rem 0;
}

.review-edit textarea:focus,
.review-edit select:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.review-edit-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

@media (min-width: 600px) {


  .review-row {
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 2rem; 
  }

  .review-actions {
    margin-top: 0;
  }
}