/* A Modern CSS Reset for React in 2026 */
@layer reset {
  *, *::before, *::after {
    box-sizing: border-box;
  }
  /* Remove default margin */
  * {
    margin: 0;
  }
  /* Ensure consistent line height and text rendering */
  html {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none; /* Prevents unwanted mobile text scaling */
  }
  /* Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
}

/* Grundlayout */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  background-color: #FEF2F2;
  color: #333;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem; 
}

nav a {
  color: #F6803F;
  text-decoration: none;
}

nav a.active {
  text-decoration: underline;
}

button {
  border-radius: 0.9rem;
  border: none;
  padding: 0.2rem 1.2rem;
  background-color: #2E346B;
  color: #ffff;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color:#262c5c;
}